<h1>This is a free cloud tool to measure the loudness (following EBU R128) of any media file.</h1>
<p>You only have to sign up an start upload your media files (the media is deleted after compute the loudness values)<p>
<p>The site code is available in github, as <a href="https://github.com/jordicenzano/OnlineLoudnessMeter" target="_blank">OnlineLoudnessMeter</a><p>
<p>The media decoding and loudness computing is powered by <a href="https://www.ffmpeg.org/" target="_blank">ffmpeg</a><p>