<h1>Jordi Cenzano 2014</h1>
<p>I'm a developer specialized in video and audio processing and broadcast services, I developed this cloud service as an exercise to improve my knowledge of rails.</p>
<p>More info: <a href="http://www.jordicenzano.name" target="_blank">Personal page</a>, <script src="//platform.linkedin.com/in.js" type="text/javascript"></script><script type="IN/MemberProfile" data-id="https://www.linkedin.com/in/jordicenzano" data-format="hover" data-text="Jordi Cenzano" data-related="false"></script></p>
